/*General*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    overflow-x: hidden; /* Отключает горизонтальную прокрутку */
    background: #080808;
    color: #fff;
}
span, p, button, li, h1, h2, h3, h4, h5, h6, div{
    font-family: "Poppins", serif;
}
.container{
    position: relative;
    padding: 30px 5%;
}

/*Background*/
.background-triangle{
    position: absolute;
    top: 0;
    right: 0;
    width: 70vw;
    height: 100vh;
    background-image: url(Images/Rectangle\ 1.png);
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}

/*Header*/
#header {
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-weight: 700;
}
.point{
    width: 100%;
    margin-top: -30%;
    margin-left: -30px;
}

/*Section home-screen*/
.home-screen-slider{
    position: relative;
    display: flex;
    padding: 40px;
    background-image: url('Images/Rectangle\ 2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 12px;
}
.home-screen-slider-container{
    display: flex;
    flex-direction: column;
}
.home-screen-slider .slider-number{
    font-size: 180px;
    line-height: 140px;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
}
.home-screen-slider h1, .home-screen-slider h2{
    align-self: flex-start;
    padding: 10px;
    font-size: 48px;
    font-weight: 700;
    background-color: #000;
}
.home-screen-slider h1{
    margin-bottom: 10px;
}
.home-screen-slider h2{
    margin-bottom: 80px;
}
.home-screen-slider button{
    align-self: flex-start;
    padding: 12px 18px;
    margin-bottom: 40px;
    background: transparent;
    border: 3px solid #DB0A40;
}
.home-screen-slider a{
    color: #DB0A40;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}
.home-screen-slider-nav{
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
.home-screen-slider-nav li{
    padding: 6px;
    border: 3px solid #fff;
    border-radius: 100px;
    opacity: .5;
}
.home-screen-slider-nav li.active{
    opacity: 1;
}
.home-screen-slider-nav li:hover{
    background-color: #fff;
    opacity: 1;
    cursor: pointer;
}
.home-screen-slider-sidemenu{
    position: absolute;
    right: -30px;
    top: 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.home-screen-slider-sidemenu-back{
    position: absolute;
    right: -30px;
    top: 30px;
    display: flex;
    flex-direction: column;
    transform: rotate(180deg);
    cursor: pointer;
}
.nft-collection {
    display: flex;
    flex-direction: column;
    transform: rotate(270deg);
    position: absolute; /* Абсолютное позиционирование */
    bottom: 120px; /* Расстояние от нижнего края */
    right: -90px;
}
.nft-collection span {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #000000;
    display: inline-block;
}
/*Nft-collection-section*/
.container-nft{
    position: relative;
    display: flex;
    flex-direction: column;
}
.subtitle{
    font-size: 48px;
    font-weight: 600;
    color: white;
}
.subtitle-2 {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 60px;
    font-size: 14px;
    font-weight: 700;
    background-color: #fc3;
    color: #000;
}
.image-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.image-row img {
    width: 330px;
    height: 263px;
    margin-right: 30px; 
}
.image-row img:last-child {
    margin-bottom: 0;
}
.containernft{
    position: relative;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
}
.image4{
    width: 320px;
    height: 400px;
}
.letter{
    font-size: 40px;
    line-height: 20px;
    position: absolute;
    top: 30%;
    right: 5%;
    z-index: 0;
    color: transparent;
    -webkit-text-stroke: 1.5px #fff;
}
.container-nft button{
    align-self: flex-end;
    padding: 12px 18px;
    margin-top: 20px; 
    background: transparent;
    border: 3px solid #ffffff;
    text-decoration: none;
}